@import "../../responsive.scss";
.homepage{
    display: flex;
    height: 100%;
    .text{
     flex:3;
     .wrapper{
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;
      @include md{
        padding: 0;
      }

      @include sm{
       justify-content: flex-start;
      }

      .title{
        font-size: 64px;
        @include lg{
          font-size: 48px;
        }
        @include sm{
          font-size: 32px;
        }
      }
      .boxes{
        display: flex;
        justify-content: space-between;
        @include sm{
          display: none;
        }
        h1{
          font-size: 36px;
          @include lg{
            font-size: 32px;
          }
        }
        h2{
          font-size: 26px;
          font-weight: 300;
        }
      }
     }
    }
    .image{
      flex:2;
      position: relative;
      display: flex;
      align-items: center;
      img{
        width: 100%;
        position: absolute;
        right:0;
      }
      @include md{
        display: none;
      }
      @include lg{
        width: 105%;
      }
       background-color: aliceblue;
    } 
}